language: php

php:
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4snapshot'

matrix:
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - travis_retry composer install -n

script:
  - vendor/bin/phpunit

# Use Travis' new container-based infrastructure.
# See http://docs.travis-ci.com/user/migrating-from-legacy/#How-can-I-use-container-based-infrastructure%3F
sudo: false
