<?xml version="1.0" encoding="utf-8"?>
<!--
    phpunit -c phpunit.xml
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/bootstrap.php">

    <testsuites>
        <testsuite name="Enum Test Suite">
            <directory>./tests/UnitTest/MyCLabs/Enum</directory>
        </testsuite>
    </testsuites>

</phpunit>
